<form [formGroup]="frmBlogNoticias" novalidate>
  <div class="card card-block col-auto p-3">
    <h4 class="card-title">Crear noticia</h4>
    <div class="form-group mt-2" (keypress)="pulsaTecla($event)">
      <h6>Titular:</h6>
      <input
        type="text"
        class="form-control"
        placeholder="Introduzca el titular de la noticia"
        [ngClass]="{'border border-2 border-danger':  frmTitulo.invalid && frmTitulo.dirty, 'border border-2 border-success':  frmTitulo.valid && frmTitulo.dirty}"
        FormControlName="frmTitulo"
      />
      <div class="form-control-feedback" *ngIf="frmTitulo.errors && (frmTitulo.dirty || frmTitulo.touched)">
        <p *ngIf="frmTitulo.errors['required']" class="text-danger">El titulo es obligatorio</p>
      </div>
    </div>
    <div class="form-group mt-2" (keypress)="pulsaTecla($event)">
      <h6>Noticia:</h6>
      <textarea
        type="text"
        class="form-control"
        placeholder="Introduzca la noticia"
        rows="10"
        [ngClass]="{'border border-2 border-danger':  frmNoticia.invalid && frmNoticia.dirty, 'border border-2 border-success':  frmNoticia.valid && frmNoticia.dirty}"
        FormControlName="frmNoticia"
      ></textarea>
      <div class="form-control-feedback" *ngIf="frmNoticia.errors && (frmNoticia.dirty || frmNoticia.touched)">
        <p *ngIf="frmNoticia.errors['required']" class="text-danger">La noticia es obligatoria</p>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-2" (click)="anadirNoticia()" [disabled]="false" [ngClass]="[ (servicio.getOscuro$() | async) ? 'btn-danger' : 'btn-primary']">Crear</button>
  </div>
</form>