<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/imgs/news.png" class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="frmInicioSesion" novalidate>
          <div class="card">
            <div class="card-body">
              <div class="divider d-flex align-items-center my-4">
                <h4
                  class="text-center fw-bold mx-3 mb-0"
                  [ngClass]="[
                    (servicio.getOscuro$() | async)
                      ? 'text-danger'
                      : 'text-primary'
                  ]"
                >
                  Iniciar Sesion
                </h4>
              </div>

              <!-- User input -->
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="form3Example3"
                  class="form-control form-control-lg bg-white"
                  placeholder="Introduzca un usuario"
                  formControlName="user"/>
                <label class="form-label" for="form3Example3">Usuario</label>
                <div class="form-control-feedback" *ngIf="user.errors && (user.dirty || user.touched)">
                  <p *ngIf="user.hasError('required')" class="text-danger">El usuario es obligatorio</p>
                </div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control form-control-lg bg-white"
                  placeholder="Introduzca contraseña"
                  formControlName="pass"/>
                <label class="form-label" for="form3Example4">Contraseña</label>
                <div class="form-control-feedback" *ngIf="pass.errors && (pass.dirty || pass.touched)">
                  <p *ngIf="pass.hasError('required')" class="text-danger">La contraseña es obligatoria</p>
                  <p *ngIf="pass.hasError('minlength')" class="text-danger">La contraseña debe tener al menos 8 caracteres</p>
                </div>
              </div>
              
              <div class="text-center text-lg-start mt-4 pt-2">
                <p *ngIf="flag" class="text-danger">Usuario o contraseña incorrecto</p>
                <button
                  [ngClass]="[
                    (servicio.getOscuro$() | async)
                      ? 'btn-danger'
                      : 'btn-primary'
                  ]"
                  type="button"
                  class="btn btn-lg"
                  [disabled]="frmInicioSesion.invalid"
                  (click)="comprobarUsuario()">
                  Login
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <myfooter></myfooter>
</section>
